.login{
    .images-wrapper {
        @include background(url('/img/login-card.jpg'));
        background-size: cover;
        background-position: bottom;
        @include media($large-screen) {
            background-position: bottom;
            background-size: cover;
        }
    }
    .login-footer{
        margin: 1em 0 0 0;
    }
}
