
.contactform{
    @include clearfix;
    max-width:400px;
    h2{
        margin-bottom:1em;
    }
    label{
        width:100%;
        display:block;
        margin:0 0 3px 0;
        font-family:$sans-serif;
        font-weight:normal;
        font-size:.8em;
    }
    input[type="text"], input[type="email"], textarea{
        width:100%;
        display:block;
        box-sizing:border-box;
        outline:none;
        -webkit-appearance: none;
        border: 1px solid #333333;
        font-size:1.25em;
        padding:3px;
        border-radius:3px;
        box-shadow: 0 0 0;
        background-color:rgba(255,255,255,.4);
        &:focus{
            box-shadow: 0 0 5px $base-accent-color;
            border: 1px solid $base-accent-color;
            border-radius:0;
            background-color:rgba(255,255,255,.7);
        }
        @include transition (all .50s ease-in-out);
        font-family: $sans-serif;
        margin:0 0 15px 0;

    }
    textarea{
        font-size:1em;
        height:10em;
        resize:none;
    }
    input[type="button"]{
        @include button(desaturate(darken($base-accent-color, 20), 30));
        font-size:.8em;
        float:right;
    }
}




.contact {
  ///////////////////////////////////////////////////////////////////////////////////
  //$base-line-height: 1.5em !default;
  //$base-accent-color: #477DCA !default;
  //$base-link-color: $base-accent-color !default;
  //$dark-gray: #333 !default;
  //$large-screen: em(860) !default;
  //$base-font-color: $dark-gray !default;

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////


  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('/img/broadcast-sepia.jpg'));
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      font-weight: 800;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: gray;
      margin-bottom: 3em;
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
    textarea{
        min-height:6em;
    }
  }

  @include reset-display();
}
