<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
      <rewrite>
          <rules>
              <rule name="rule 1c" stopProcessing="true">
                  <match url="^artwork/series/([A-Za-z0-9-]+)/?$"  />
                  <action type="Rewrite" url="/artwork/series/index.php?series={R:1}"  />
              </rule>
          </rules>
      </rewrite>
  </system.web>
</configuration>
